<!-- Section: Design Block -->
<section class="text-center text-lg-start bg-body-tertiary">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 990px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div
          class="card cascading-right"
          style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
          "
        >
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Login</h2>
            <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Email</label>
                <input
                  type="email"
                  id="form3Example3"
                  class="form-control"
                  name="email"
                  ngModel
                  required
                  pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                  email
                  #modelEmail="ngModel"
                  [ngClass]="
                    modelEmail.invalid && modelEmail.dirty ? 'is-invalid' : ''
                  "
                />
                <p
                  *ngIf="modelEmail.invalid && modelEmail.dirty && modelEmail?.errors?.['pattern']"
                  class="text-danger"
                >
                  Please enter valid email
                </p>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Password</label>
                <input
                  type="password"
                  id="form3Example4"
                  class="form-control"
                  name="password"
                  ngModel
                  required
                  minlength="3"
                  #modelPassword="ngModel"
                  [ngClass]="
                    modelPassword.invalid && modelPassword.dirty
                      ? 'is-invalid'
                      : ''
                  "
                />
                <div>
                  <p
                    *ngIf="modelPassword?.errors?.['minlength'] && modelPassword.dirty"
                    class="text-danger"
                  >
                    Please enter minimum password of length
                    {{modelPassword?.errors?.['minlength']?.['requiredLength']}}
                  </p>
                  <p
                    *ngIf="modelPassword?.errors?.['required'] && modelPassword.dirty"
                    class="text-danger"
                  >
                    Please enter password!
                  </p>
                </div>
              </div>
              <div *ngIf="error.length > 0" class="text-danger">
                {{ error }}
              </div>
              <div class="form-check d-flex justify-content-center mb-4">
                <p>
                  New User? <span><a routerLink="/register">Sign Up</a></span>
                </p>
              </div>

              <button
                type="submit"
                class="btn btn-primary btn-block mb-4"
                [disabled]="!loginForm.valid"
              >
                Log In
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img
          src="https://img.freepik.com/free-photo/young-attractive-dark-haired-woman-with-short-haircut-with-lot-shopping-bags_295783-12462.jpg?size=626&ext=jpg&ga=GA1.2.835364551.1695889634&semt=sph"
          class="w-100 rounded-4 shadow-4"
          alt=""
          style="height: 600px"
        />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
