<div class="container mt-5">
  <p *ngIf="orderItems.length === 0">
    Oops! There are no orders placed! <br />
    <button class="btn btn-dark mt-2" routerLink="/home">Shop Here</button>
  </p>
  <table class="table table-hover shadow bg-body-tertiary rounded" *ngIf="orderItems.length !== 0">
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Date</th>
        <th scope="col">Products</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody id="cartitems" *ngFor="let item of orderItems">
      <tr class="shadow bg-body-tertiary rounded">
        <td class="col">{{item.orderId}}</td>
        <td class="col">{{item.date}}</td>
        <td class="col">{{item.productName}}</td>
        <td class="col">{{item.quantity}}</td>
        <td class="col">₹ {{item.price}}</td>
        <td class="col">{{item.status}}</td>
      </tr>
    </tbody>
  </table>

</div>
